/var/www/vendor/
/.editorconfig
/.gitattributes
/.idea
/.vscode

# Ignore drupal core.
webroot/core

# Ignore paths that contain user-generated content.
webroot/sites/*/files
webroot/sites/*/private
/files-private

# Ignore contrib modules, profiles, and themes. These should be created during build process.
webroot/modules/contrib
webroot/themes/contrib
webroot/profiles/contrib

# Ignore library items that should be installed via composer.
webroot/libraries

# Ignore generated assets created by build processes.
webroot/themes/custom/usgs_store/css/
webroot/themes/custom/uswds_usgs_store/css/

# Ignore Generated Facades for testing.
/webroot/sites/simpletest/Assert.php
/webroot/sites/simpletest/TestCase.php

# Cache files
/.phpunit.result.cache

# Stupid Mac Stuff
.DS_Store

# Development copy of D7 theme.
/webroot/themes/custom/bootstrap_usgs_store_d7/
/webroot/themes/custom/bootstrap_usgs_store/node_modules/
/webroot/themes/custom/bootstrap_usgs_store/assets/styles/
/webroot/themes/custom/bootstrap_usgs_store/assets/js/
/webroot/themes/custom/bootstrap_usgs_store/assets/fonts/

# Local overrides for docker compose in development.
/docker-compose.override.yml

# SAP Import Data files for testing
test_ids.txt
product_ids.txt

# Secrets and ENV specific configuration.
/.env

# Database dump files
*.sql
*.sql.gz

# Testing dependencies
tests/node_modules
tests/cypress/screenshots
tests/cypress/videos
tests/videos
tests/screenshots
reports/**/*.xml
reports/**/*.png
reports/**/*.mp4
reports/**/*.meta
reports/cypress/history
reports/cypress/executor.json
reports/pa11y/report.json
reports/**/*.html
tests/node_modules

